.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.search {
  background-color: aliceblue;
  display: flex;
  padding: 0.5rem;
  border-radius: 40px;
  border: none;
  width: 500px;
  margin: 0 auto; // Ensure the search bar is centered
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    input {
      background: transparent;
      border: none;
      text-align: center;
      color:  black;
      font-size: 1.3rem;
      width: 100%;
    }
  }
  button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    background-color: wheat;
    color: #283d50;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    margin-left: 10px; // Space between input and button

    &:hover {
      background-color: #283d50;
      color: aliceblue;
    }
  }
}

.information-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px; // Increase if needed to space out from search bar
  min-height: 70vh;
  background: #283d50;
  opacity: 0.9;
  border-radius: 40px;
  color: aliceblue;
  box-shadow: rgba(0.5, 0.5, 0.5, 0.5) 0px 15px 20px -7px;
  h4 {
    font-weight: 700;
    color:  wheat;

  }
}

.bucket {
  margin: 30px auto;
  background-color: wheat;
    color: #283d50;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    &:hover {
      background-color: #283d50;
      color: aliceblue;
    } // Center the bucket list button and add spacing
}

.itinerary-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #283d50;
  opacity: 0.7;
  // background: linear-gradient(180deg, rgba(64,121,179,1) 0%, rgba(233,238,246,1) 88%, rgba(233,241,250,1) 2%);
  border-radius: 40px;
  box-shadow: rgba(0.5, 0.5, 0.5, 0.5) 0px 15px 20px -7px;
  width: 80%;
  margin: 30px auto; // Additional margin for spacing
  &:hover {
    background: #283d50;
    opacity: 0.9;
  }

  h3 {
    color: aliceblue;
    margin-bottom: 20px;
    font-weight: 700;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 10px;
    color: white;
  

  }

  button {
    padding: 10px 20px;
    background-color: wheat;
    color: #283d50;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: white;
      color: #283d50;
    }
  }
}
